extends layout

block content
    h1=title
    p Generate psycho names

    // Wrapper
    #wrapper
        #segInfo
            h2 Segment Info
            p
                strong Type:
                |   <span id='segmentSegmentType'></span>
                br
                strong Text:
                |   <span id='segmentText'></span>

        h2 Segments
        #segList
            table
                thead
                    th Segment
                    th Type
                    th Edit?
                    th Delete?
                tbody

        h2 Add Segment
        #segAdd
            fieldset
                input#inputSegmentText(type='text', placeholder='Text')
                select#inputSegmentType
                    option(value='title') Home
                    option(value='adjective') Adjective
                    option(value='locale') Locale
                    option(value='name') Name
                    option(value='weapon') Weapon
                    option(value='animal') Animal
                    option(value='bodyPart') Body Part

                br
                button#btnAddSegment Add Segment
