extends layout

block content
    h1=title
    p Generate psycho names

    // Wrapper
    #wrapper
        h2 Add Segment
        #segAdd
            fieldset
                input#inputSegmentText(type='text', placeholder='Text')
                select#inputSegmentType
                br
                button#btnAddSegment Add Segment

        #segInfo
            h2 Segment Info
            p
                strong Type:
                |   <span id='segmentSegmentType'></span>
                br
                strong Text:
                |   <span id='segmentText'></span>

        h2 Segments
        #segPage
            table
                thead
                    th Segment
                    th Type
                    th Edit?
                    th Delete?


