extends layout

block content
    h1=title
    p Generate psycho names

    // Wrapper
    #wrapper
        h2 Add Segment
        #segAdd
            fieldset
                input#inputSegmentText(type='text', placeholder='Text')
                select#inputSegmentType
                br
                button#btnAddSegment Add Segment

        #nameGen
            h2 Generate Name
            p
                strong Name:
                |   <span id='nameResult'></span>
                button#btnNameGen Generate Name


        #segInfo
            h2 Segment Info
            p
                strong Text:
                |   <span id='segmentText'></span>
                br
                strong Type:
                |   <span id='segmentTypeText'></span>
                br
                strong Priority:
                |   <span id='segmentTypePriority'></span>


        h2 Segments
        #segPage
            table
                thead
                    th Segment
                    th Type
                    th Edit?
                    th Delete?


